@media (min-width: 1800px) {
    .slide-show-btns > img:nth-child(1),
    .con-arrows > img:nth-child(1) {
        margin: 0;
    }

    .slide-show-btns > img:nth-child(2),
    .con-arrows > img:nth-child(2) {
        margin-left: 1550px;
    }
}

@media (max-width: 1599px) {
    .con-sq {
        width: 160px;
        height: 128px;
    }
}

@media (max-width: 1550px) {
    .con-sq {
        width: 140px;
        height: 128px;
    }
}

@media (max-width: 1490px) {
    .con-sq {
        width: 120px;
    }
}

@media (max-width: 1430px) {
    .con-sq {
        width: 110px;
    }

    .con1-content > h1 {
        font-size: 1.5em;
    }
    
    .con > p {
        font-size: 15px;
    }

    .con > h3 {
        font-size: 18px;
    }
}

@media (max-width: 1389px) {
    .con1-content > h1 {
        font-size: 1.4em;
    }

    .con > h3 {
        font-size: 16px;
    }

    .active:before {
        display: none;
    }
}

@media (max-width: 1347px) {
    .con2-content > h1 {
        font-size: 2.4em;
    }

    .con2-content > p {
        font-size: 13px;
    }

    .container {
        padding: 0 7em;
    }

    .con-arrows {
        display: none;
    }

    .con-sq {
        width: 12.5vw;
    }
}

@media (max-width: 1242px) {
    .con2-content > h1 {
        font-size: 3.3vw;
    }

    .con2-content > p {
        font-size: 10px;
    }
}

@media (max-width: 1269px) {
    .con1-content > h1 {
        font-size: 1.3em;
    }
    .con > p {
        font-size: 13px;
    }
}

@media (max-width: 1251px) {
    .moto-stuff > h1 {
        font-size: 56px;
    }
    .indexes {
        margin-top: 195px;
    }
}

@media (max-width: 1219px) {
    .con1-content > h1 {
        font-size: 1.2em;
    }

    .stats {
        grid-template-rows: 1fr 1fr;
    }
}

@media (min-width: 1160px) {
    .header {
        justify-content: center;
    }
    .links {
        margin-left: 340px;
    }
}

/* Mobile */
@media (max-width: 1203px) {
    .text > p > br {
        display: none;
    }
}

@media (max-width: 1128px) {
    .container {
        padding: 0 2em;
    }

    .text > p > br {
        display: initial;
    }
}

@media (max-width: 1000px) {
    /* Mobile nav starts here */

    .header {
        justify-content: flex-start;
        align-items: center;
        height: 70px;
        padding-left: 20px;
    }

    .header > a > img {
        width: 170px;
        height: 45px;
    }

    :root {
        --button-width: 50px;
        --button-height: calc(var(--button-width) * .8);
        --rectangle-height: calc(var(--button-width) * .1);
        --rectangle-radius: calc(var(--button-width) * .04);
        --translate: calc(var(--button-width) * .17);
        --transition: 0.65s;
    }

    .mobile-nav-toggle {
        position: absolute;
        display: block;
        top: 15px;
        right: 20px;
        z-index: 9999;

        width: var(--button-width);
        height: var(--button-height);
        border: 0;
        background: transparent;
        outline: none;
        cursor: pointer;
    }

    .rectangle {
        position: absolute;
        height: var(--rectangle-height);
        background: white;
        border-radius: var(--rectangle-radius);
        transition: transform var(--transition);
    }

    .rectangle--small {
        width: calc(var(--button-width) / 2);
    }

    .rectangle--top {
        top: 0;
        left: 0;
        transform-origin: top left;
    }

    .rectangle--top.open {
        transform: translateX(var(--translate)) rotate(45deg);
    }

    .rectangle--middle.open {
        transform: translateY(-50%) rotate(-45deg);
    }

    .rectangle--middle {
        top: 50%;
        left: 0;
        width: var(--button-width);
        transform: translateY(-50%);
    }

    .rectangle--bottom {
        bottom: 0;
        right: 0;
        transform-origin: bottom right;
    }

    .rectangle--bottom.open {
        transform: translateX(calc(-1 * var(--translate))) rotate(45deg);
    }

    .links.visible{
        opacity: 1;
    }

    .links {
        display: flex;
        z-index: 1000;
        height: 100vh;
        gap: 7em;
        flex-direction: column;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5rem);

        width: 100%;
        opacity: 0;
        transform-origin: 95% 50px;
        transition-property: opacity, transform;
        transition-duration: var(--transition);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .links.hidden {
        display: none;
    }

    @supports (backdrop-filter: blur(1rem)) {
        .links {
            background: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(5rem);
        }
    }
    .links > a {
        margin: 0 !important;
    }
}

@media (max-width: 892px) {
    .slide-show-btns {
        display: none;
    }

    .img {
        padding: 0 55px;
    }

    .sec4-cont {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 851px) {
    .headers {
        font-size: 8px;
    }
}

@media (max-width: 787px) {
    .text > p > br {
        display: none;
    }

    .messages > img {
        display: none;
    }

    .section3 {
        flex-direction: column;
    }

    .messages {
        width: 100%;
        font-size: 1.2rem;
        padding: 50px;
        height: auto;
    }
}

@media (max-width: 774px) {
    .moto-stuff {
        margin-top: 240px;
    }
    .indexes {
        margin-top: 234px;
    }
    .moto-stuff > h1 {
        font-size: 50px;
    }

    .disc-btn {
        margin-top: 60px;
    }

    .disc-btn > a {
        height: 41px;
    }

    .disc-btn > a > span {
        margin-left: 29px;
    }

    .arrow {
        padding: 9px;
    }

    .con1-content,
    .con2-content {
        width: auto;
    }

    .connect1,
    .connect2 {
        padding: 40px;
        min-height: 500px;
    }

    .con2-content {
        padding: 0;
    }

    .con1-img,
    .con2-img {
        display: none;
    }

    .con1-content > h1,
    .con2-content > h1 {
        font-size: 5vw;
    }

    .con1-content > p,
    .con2-content > p {
        font-size: 2.5vw;
        line-height: normal;
    }

    .con1-content > h3 {
        font-size: 3vw;
    }
}

@media (max-width: 733px) {
    .headers {
        font-size: 7px;
    }
}

@media (max-width: 681px) {
    .headers {
        font-size: 1vw;
    }

    .headers > div {
        padding: 20px 45px;
    }

    .connect1,
    .connect2 {
        min-height: 470px;
    }
}

@media (max-width: 624px) {
    .moto-stuff > h1 {
        font-size: 46px;
    }

    .headers {
        font-size: 1.2vw;
    }

    .headers > div {
        padding: 20px 0px;
        align-items: center;
    }

    .header1 {
        width: 75%;
    }

    .header2 {
        width: 100%;
    }

    
    .contacts {
        gap: 4px;
        font-size: 3.5vw;
    }

    .top,
    .bottom {
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    .top > div,
    .bottom > div {
        width: 100% !important;
        margin: 0 !important;
        border-radius: 33px !important;
        text-align: center;
    }

    .socials {
        gap: 19px;
    }

    .socials > img {
        margin: 0 !important;
    }
}

@media (max-width: 580px) {
    .moto-stuff > h1 {
        font-size: 40px;
    }

    .stats > div {
        height: 200px;
        width: 200px;
        font-size: 12px;
    }

    .stats > div > h1 {
        font-size: 5rem;
    }
}

@media (max-width: 550px) {
    .img {
        padding: 0 35px;
    }

    .connect1,
    .connect2 {
        min-height: 440px;
    }
}

@media (max-width: 516px) {
    .moto-stuff > h1 {
        font-size: 33px;
    }
}

@media (max-width: 504px) {
    .break {
        display: none;
    }

    .img {
        padding: 0 25px;
    }

    .img > img {
        width: 78px !important;
        height: 77px !important;
    }
}

@media (max-width: 499px) {
    .headers {
        display: none;
    }

    .main-content {
        margin-top: 0;
    }

    .section5 {
        padding: 100px 0 100px 0;
    }

    .con-arrows {
        display: flex;
        gap: 38vw;
    }

    .con-arrows > img {
        width: 30px;
        height: 20px;
        border-radius: 100%;
        padding: 10px 15px;
        background: #dd7600;
        margin: 0;
    }

    .con-arrows > img:nth-child(1) {
        box-shadow:  -4px -4px 30px -5px black;
    }

    .con-arrows > img:nth-child(2) {
        box-shadow:  -4px 4px 30px -5px black;
    }

    .connect1,
    .connect2 {
        min-height: 406.77px;
        padding: 30px;
    }

    .con1-content > p,
    .con2-content > p {
        font-size: 13px;
    }
}

@media (max-width: 450px) {
    .moto-stuff > h1 {
        font-size: 30px;
    }
    .moto-stuff {
        margin-top: 135px;
    }

    .indexes {
        margin-top: 120px;
    }

    .stats {
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .stats > div {
        height: 65vw;
        width: 65vw;
        font-size: 4.7vw;
    }

    .stats > div > h1 {
        font-size: 21vw;
    }
}

@media (max-width: 423px) {
    .img {
        padding: 0 10px;
    }

    .content > h1 {
        font-size: 15px;
    }

    .content > p {
        font-size: 13px;
    }

    .content > button {
        padding: 17px 13px;
    }

    .content {
        padding: 15px;
    }

    .con-arrows {
        gap: 42vw;
    }

    .contacts {
        font-size: 4vw;
    }

    .location {
        height: 95px !important;
        box-sizing: border-box;
        padding: 0 18px;
    }
}

@media (max-width: 406px) {
    .con-arrows {
        gap: 46vw;
    }
}

@media (max-width: 405px) {
    .connect1,
    .connect2 {
        min-height: 429.17px;
    }
}

@media (max-width: 363px) {
    .con1-content > h3 {
        font-size: 4vw;
    }
}

@media (max-width: 360px) {
    .container {
        padding: 0 1em;
    }

    .moto-stuff > h1 {
        font-size: 25px;
    }

    .disc-btn {
        margin-top: 55px;
    }

    .disc-btn > a {
        padding: 3.5px;
        width: 182px;
    }

    .disc-btn > a > span{
        margin-left: 23px;
        font-size: 11px;
    }

    .arrow {
        padding: 8px;
    }

    .messages {
        padding: 30px;
    }

    .con-arrows {
        gap: 54vw;
    }

    .contacts {
        font-size: 5vw;
        padding: 0 1em;
    }
}

@media (max-width: 349px) {
    .con-arrows {
        gap: 58vw;
    }

    .con-arrows > img {
        width: 15px;
        height: 15px;
        padding: 10px 14px;
    }
}

@media (max-width: 333px) {
    .con-arrows {
        gap: 60vw;
        padding: 0 42vw;
    }
}

@media (max-width: 327px) {
    .connect1,
    .connect2 {
        min-height: 451.61px;
    }
}

@media (max-width: 318px) {
    .con-arrows {
        gap: 58vw;
    }
}

@media (max-width: 310px) {
    .img {
        padding: 0 7px;
    }

    .img > img {
        width: 58px !important;
        height: 57px !important;
    }
}

@media (max-width: 296px) {
    .connect1,
    .connect2 {
        min-height: 464.2px;
    }

    .con-arrows {
        gap: 57vw;
    }
}

@media (max-width: 291px) {
    .connect1,
    .connect2 {
        padding: 18px;
        min-height: 445.2px;
    }

    .con1-content > h1,
    .con2-content > h1 {
        font-size: 6vw;
    }

    .con2-content > button {
        padding: 10px 0;
        width: 100%;
    }

    .main-content {
        gap: 2em;
    }

    .connect2 {
        display: flex;
    }

    .con-arrows {
        display: none;
    }
}

@media (max-width: 290px) {
    .content > button {
        padding: 0 5px;
        width: auto;
    }

    .section6 > p {
        font-size: 5vw;
    }
} 

@media (max-width: 273px) {
    .messages {
        padding: 20px;
    }

    .section4 > h1 {
        font-size: 1.8em;
    }
}

@media (max-width: 271px) {
    .contacts {
        font-size: 5.5vw;
    }
}

@media (max-width: 263px) {
    .messages {
        padding: 14px;
    }

    .indexes {
        margin-top: 90px;
    }

    .content > button {
        font-size: 13px;
    }

    .connect1,
    .connect2 {
        padding: 16px;
    }
}

@media (max-width: 257px) {
    .connect1,
    .connect2 {
        min-height: 461.77px;
    }

    .con1-content > h3 {
        font-size: 3.5vw;
    }
}

@media (max-width: 254px) {
    .section4 > h1 {
        font-size: 1.7em;
    }
}

@media (max-width: 237px) {
    .tiny-screen {
        display: flex;
    }
    body {
        overflow-y: hidden;
    }
}

@media (min-width: 237px) {
    .moto-stuff > p {
        line-height: 20px;
        font-size: 11px;
    }
}

@media (min-width: 360px) {
    .moto-stuff > p {
        line-height: 24px;
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .moto-stuff {
        margin-top: 180px;
    }
}

@media (min-width: 774px) {
    .moto-stuff > p {
        font-size: 15pt;
        line-height: 28pt;
    }
}

@media (max-width: 300px) {
    .header > a > img {
        width: 125px;
        height: 30px;
    }

    .mobile-nav-toggle {
        top: 20px;
    }

    :root {
        --button-width: 35px;
    }

    .links > a {
        font-size: 10px;
    }

    .moto-stuff > h1 {
        font-size: 20px;
    }
}