@media (min-width: 1800px) {
    .slide-show-btns > img:nth-child(1),
    .con-arrows > img:nth-child(1) {
        margin: 0;
    }

    .slide-show-btns > img:nth-child(2),
    .con-arrows > img:nth-child(2) {
        margin-left: 1550px;
    }
}

@media (min-width: 1522px) {
    .con-arrows {
        top: 3943px;
    }
}

@media (max-width: 2100px) {
    .container {
        background-size: 2100px 833px, 100% 863px, 2100px 927px;
        background-position: left top, 50% 1572px, left 3501px;
    }
}

@media (max-width: 1599px) {
    .con-sq {
        width: 160px;
        height: 128px;
    }
}

@media (max-width: 1550px) {
    .con-sq {
        width: 140px;
        height: 128px;
    }
}

@media (max-width: 1490px) {
    .con-sq {
        width: 120px;
    }
}

@media (max-width: 1430px) {
    .con-sq {
        width: 110px;
    }

    /* Decrease the size of the text in this area */
    .con1-content > h1 {
        font-size: 1.5em;
    }
    
    .con > p {
        font-size: 15px;
    }

    .con > h3 {
        font-size: 18px;
    }
}

@media (max-width: 1389px) {
    .con1-content > h1 {
        font-size: 1.4em;
    }

    .con > h3 {
        font-size: 16px;
    }
}

@media (max-width: 1347px) {
    .con2-content > h1 {
        font-size: 1.4em;
    }

    .con2-content > p {
        font-size: 13px;
    }
}

@media (max-width: 1242px) {
    /* 13px 1.3em */
    .con2-content > h1 {
        font-size: 1em;
    }

    .con2-content > p {
        font-size: 10px;
    }
}

@media (max-width: 1267px) {
    .headers {
        display: none;
    }
}

@media (max-width: 1266px) {
    .con-sq {
        width: 100px;
    }
}

@media (max-width: 1269px) {
    .con1-content > h1 {
        font-size: 1.3em;
    }
    .con > p {
        font-size: 13px;
    }
}

@media (max-width: 1251px) {
    .moto-stuff > h1 {
        font-size: 56px;
    }
    .indexes {
        margin-top: 195px;
    }
}

@media (max-width: 1219px) {
    .con1-content > h1 {
        font-size: 1.2em;
    }

    .stats {
        grid-template-rows: 1fr 1fr;
    }

    .container {
        background-position: left top, 50% 1840px, left 3501px;
    }

    .messages > img {
        top: 2370px;
    }
}

/* Remove this part eventually */
@media (max-width: 1201px) {
    .section4,
    .section5,
    .section6 {
        display: none;
    }

    .container {
        background-position: left top, 50% 1880px, left 3501px;
    }
}

@media (min-width: 1160px) {
    .header {
        justify-content: center;
    }
    .links {
        margin-left: 340px;
    }
}

/* Mobile */
@media (max-width: 1203px) {
    .text > p > br {
        display: none;
    }

    .messages > img {
        top: 2400px;
    }
}

@media (max-width: 1128px) {
    /* .moto-stuff > h1 {
        font-size: 60px;
    } */
    .container {
        padding: 0 2em;
        background-position: left top, 50% 1837px, left 3501px;
    }
    /* .slide-show-btns,
    .slide-index {
        display: none;
    } */

    .text > p > br {
        display: initial;
    }

    .messages > img {
        top: 2370px;
    }
}

@media (max-width: 1000px) {
    /* Mobile nav starts here */

    .header {
        justify-content: flex-start;
        align-items: center;
        height: 70px;
        padding-left: 20px;
    }

    .header > a > img {
        width: 170px;
        height: 45px;
    }

    :root {
        --button-width: 50px;
        --button-height: calc(var(--button-width) * .8);
        --rectangle-height: calc(var(--button-width) * .1);
        --rectangle-radius: calc(var(--button-width) * .04);
        --translate: calc(var(--button-width) * .17);
        --transition: 0.65s;
    }

    .mobile-nav-toggle {
        position: absolute;
        display: block;
        top: 15px;
        right: 20px;
        z-index: 9999;

        width: var(--button-width);
        height: var(--button-height);
        border: 0;
        background: transparent;
        outline: none;
        cursor: pointer;
    }

    .rectangle {
        position: absolute;
        height: var(--rectangle-height);
        background: white;
        border-radius: var(--rectangle-radius);
        transition: transform var(--transition);
    }

    .rectangle--small {
        width: calc(var(--button-width) / 2);
    }

    .rectangle--top {
        top: 0;
        left: 0;
        transform-origin: top left;
    }

    .rectangle--top.open {
        transform: translateX(var(--translate)) rotate(45deg);
    }

    .rectangle--middle.open {
        transform: translateY(-50%) rotate(-45deg);
    }

    .rectangle--middle {
        top: 50%;
        left: 0;
        width: var(--button-width);
        transform: translateY(-50%);
    }

    .rectangle--bottom {
        bottom: 0;
        right: 0;
        transform-origin: bottom right;
    }

    .rectangle--bottom.open {
        transform: translateX(calc(-1 * var(--translate))) rotate(45deg);
    }

    .links.visible{
        opacity: 1;
    }

    .links {
        display: flex;
        z-index: 1000;
        height: 100vh;
        gap: 7em;
        flex-direction: column;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5rem);

        width: 100%;
        opacity: 0;
        transform-origin: 95% 50px;
        transition-property: opacity, transform;
        transition-duration: var(--transition);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .links.hidden {
        display: none;
    }

    @supports (backdrop-filter: blur(1rem)) {
        .links {
            background: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(5rem);
        }
    }
    .links > a {
        margin: 0 !important;
    }
    .stats {
        flex-direction: column;
    }
}

@media (max-width: 892px) {
    .slide-show-btns {
        display: none;
    }
}

@media (max-width: 787px) {
    .text > p > br {
        display: none;
    }

    .messages > img {
        display: none;
    }

    .section3 {
        flex-direction: column;
    }

    .messages {
        width: 100%;
        font-size: 1.2rem;
        padding: 50px;
        height: auto;
    }

    .container {
        background-position: left top, 50% 1887px, left 3501px;
    }
}

@media (max-width: 774px) {
    .moto-stuff {
        margin-top: 240px;
    }
    .indexes {
        margin-top: 234px;
    }
    .moto-stuff > h1 {
        font-size: 50px;
    }

    .disc-btn {
        margin-top: 60px;
    }

    .disc-btn > a {
        height: 41px;
    }

    .disc-btn > a > span {
        margin-left: 29px;
    }

    .arrow {
        padding: 9px;
    }
}

@media (max-width: 681px) {
    .container {
        background-position: left top, 50% 1960px, left 3501px;
    }
}

@media (max-width: 624px) {
    .moto-stuff > h1 {
        font-size: 46px;
    }
}

@media (max-width: 580px) {
    .moto-stuff > h1 {
        font-size: 40px;
    }

    .stats > div {
        height: 200px;
        width: 200px;
        font-size: 12px;
    }

    .stats > div > h1 {
        font-size: 5rem;
    }

    .container {
        background-position: left top, 50% 1821px, left 3501px;
    }
}

@media (max-width: 550px) {
    .container {
        background-position: 13% top, 50% 1825px, 50% 3501px;
    }

    .section3 {
        padding-top: 218px;
    }
}

@media (max-width: 504px) {
    .break {
        display: none;
    }

    .section3 {
        padding-top: 161px;
    }
}

@media (max-width: 516px) {
    .moto-stuff > h1 {
        font-size: 33px;
    }
}

@media (max-width: 450px) {
    .moto-stuff > h1 {
        font-size: 30px;
    }
    .moto-stuff {
        margin-top: 135px;
    }
    .container {
        background-position: 13% -15%, 50% 1390px, 50% 3501px;
    }

    .stats > div {
        height: 150px;
        width: 150px;
        font-size: 9px;
    }

    .stats > div > h1 {
        font-size: 3.5rem;
    }

    .indexes {
        margin-top: 120px;
    }

    .section3 {
        padding-top: 90px;
    }

    .section2 {
        margin-top: 80px;
    }
}

@media (max-width: 435px) {
    .section3 {
        padding-top: 65px;
    }
}

@media (max-width: 423px) {
    .container {
        background-position: 13% -15%, 50% 1470px, 50% 3501px;
    }
}

@media (max-width: 390px) {
    .section3 {
        padding-top: 40px;
    }
}

@media (max-width: 360px) {
    .container {
        padding: 0 1em;
        background-position: 13% -15%, 50% 1390px, 50% 3501px;
    }

    .moto-stuff > h1 {
        font-size: 25px;
    }

    .disc-btn {
        margin-top: 55px;
    }

    .disc-btn > a {
        padding: 3.5px;
        width: 182px;
    }

    .disc-btn > a > span{
        margin-left: 23px;
        font-size: 11px;
    }

    .arrow {
        padding: 8px;
    }

    .stats > div {
        height: 120px;
        width: 120px;
        font-size: 7px;
    }

    .stats > div > h1 {
        font-size: 2.5rem;
    }

    .messages {
        padding: 30px;
    }

    .section3 {
        padding-top: 100px;
    }
}

@media (max-width: 327px) {
    .section3 {
        padding-top: 40px;
    }
}

@media (max-width: 290px) {
    .container {
        background-position: 13% -15%, 50% 1445px, 50% 3501px;
    }

    .section3 {
        padding-top: 20px;
    }
}

@media (max-width: 273px) {
    .stats > div {
        height: 100px;
        width: 100px;
        font-size: 6px;
    }

    .stats > div > h1 {
        font-size: 2rem;
    }

    .messages {
        padding: 20px;
    }

    .section3 {
        padding-top: 80px;
    }
}

@media (max-width: 263px) {
    .section2 {
        margin-top: 100px;
    }

    .messages {
        padding: 14px;
    }

    .indexes {
        margin-top: 90px;
    }
}

@media (max-width: 254px) {
    .section3 {
        padding-top: 25px;
    }
}

@media (max-width: 237px) {
    .tiny-screen {
        display: flex;
    }
    body {
        overflow-y: hidden;
    }
}

@media (min-width: 237px) {
    .moto-stuff > p {
        line-height: 20px;
        font-size: 11px;
    }
}

@media (min-width: 360px) {
    .moto-stuff > p {
        line-height: 24px;
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .moto-stuff {
        margin-top: 180px;
    }
}

@media (min-width: 774px) {
    .moto-stuff > p {
        font-size: 15pt;
        line-height: 28pt;
    }
}

@media (max-width: 300px) {
    .header > a > img {
        width: 125px;
        height: 30px;
    }

    .mobile-nav-toggle {
        top: 20px;
    }

    :root {
        --button-width: 35px;
    }

    .links > a {
        font-size: 10px;
    }

    .moto-stuff > h1 {
        font-size: 20px;
    }
}